.logo {
  color: var(--black-title-text);
  font-family: Raleway, cursive;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-span {
  color: var(--logo-colors);
}

.footer-logo {
  color: var(--logo-colors);
  color: var(--white-text);
}
